root = true

[*.{kt}]
indent_size=4
insert_final_newline=true
max_line_length=off
ktlint_standard_property-naming=disabled
ktlint_standard_discouraged-comment-location=disabled
ktlint_function_naming_ignore_when_annotated_with = Composable


[**/**/test/**/*.{kt}]
max_line_length=off
ktlint_standard_function-naming=disabled

