[submodule "haishinkit/vendor/picojson"]
	path = haishinkit/vendor/picojson
	url = git@github.com:kazuho/picojson.git
[submodule "haishinkit/vendor/Vulkan-Headers"]
	path = haishinkit/vendor/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
