<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haishinkit">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="android.app.lib_name"
            android:value="haishinkit" />
        <meta-data
            android:name="com.android.graphics.injectLayers.enable"
            android:value="true" />
    </application>
</manifest>
